# Resultados das consultas ðŸ“–

#### **Neste arquivo estÃ£o os resultados de todas as consultas realizadas no projeto em formato de dataframes.**

In [4]:
# Importando biblioteca.
import pandas as pd

In [5]:
# Importando os arquivos CSV.
df1 = pd.read_csv(r"C:\Users\cassi\GitHub\Projeto-racas-de-caes\Arquivos/Resultado1.csv")
df2 = pd.read_csv(r"C:\Users\cassi\GitHub\Projeto-racas-de-caes\Arquivos/Resultado2.csv")
df3 = pd.read_csv(r"C:\Users\cassi\GitHub\Projeto-racas-de-caes\Arquivos/Resultado3.csv")
df4 = pd.read_csv(r"C:\Users\cassi\GitHub\Projeto-racas-de-caes\Arquivos/Resultado4.csv")
df5 = pd.read_csv(r"C:\Users\cassi\GitHub\Projeto-racas-de-caes\Arquivos/Resultado5.csv")
df6 = pd.read_csv(r"C:\Users\cassi\GitHub\Projeto-racas-de-caes\Arquivos/Resultado6.csv")
df7 = pd.read_csv(r"C:\Users\cassi\GitHub\Projeto-racas-de-caes\Arquivos/Resultado7.csv")   
df7_1 = pd.read_csv(r"C:\Users\cassi\GitHub\Projeto-racas-de-caes\Arquivos/Resultado7_1.csv")
df8 = pd.read_csv(r"C:\Users\cassi\GitHub\Projeto-racas-de-caes\Arquivos/Resultado8.csv")
df9 = pd.read_csv(r"C:\Users\cassi\GitHub\Projeto-racas-de-caes\Arquivos/Resultado9.csv")
df10 = pd.read_csv(r"C:\Users\cassi\GitHub\Projeto-racas-de-caes\Arquivos/Resultado10.csv")

In [6]:
df1

           problem  problem_count
0     Eye Problems             78
1  Dental Problems             75
2   Skin allergies             72

In [7]:
df2

                problem  ocorrencias
0         Hip Dysplasia            7
1                Cancer            6
2      Heart Conditions            5
3       Elbow Dysplasia            2
4        Skin allergies            2
5          Pancreatitis            1
6               Obesity            1
7  Respiratory Problems            1
8       Dental Problems            1
9          Eye Problems            1

In [8]:
df3

          country  breed_count
0         England           21
1         Germany           13
2          France            9
3        Scotland            6
4           China            5
5       Australia            5
6         Ireland            5
7   United States            5
8         Belgium            4
9           Wales            4
10         Russia            3
11          Japan            3
12         Canada            2
13         Mexico            2
14          Italy            2
15        Hungary            2
16          Malta            2
17    Switzerland            1
18       Rhodesia            1
19     Madagascar            1
20    Middle East            1
21        Finland            1
22    Netherlands            1
23          Tibet            1
24         Turkey            1
25         Africa            1
26          Congo            1

In [9]:
df4

          country  avg_longevity
0          Mexico           14.8
1         Finland           13.5
2     Netherlands           13.5
3           Tibet           13.5
4          Africa           13.5
5           Congo           13.5
6       Australia           13.4
7           Wales           13.3
8           Malta           13.3
9           China           13.1
10        Belgium           13.1
11     Madagascar           13.0
12    Middle East           13.0
13         Turkey           13.0
14         France           12.8
15       Scotland           12.7
16          Japan           12.7
17        England           12.5
18         Russia           12.5
19  United States           12.5
20          Italy           12.3
21        Hungary           12.0
22        Ireland           11.9
23        Germany           11.7
24       Rhodesia           11.0
25         Canada           10.5
26    Switzerland            9.0

In [10]:
df5

        breed_name  longevity               tipo
0        Chihuahua         20  Maior Longevidade
1  Chinese Crested         18  Maior Longevidade
2       Pomeranian         16  Maior Longevidade
3          Bulldog          8  Menor Longevidade
4  German Shepherd          7  Menor Longevidade
5  Irish Wolfhound          6  Menor Longevidade

In [11]:
df6

  eye_color  color_count
0     Brown          101
1      Blue            9
2      Grey            1

In [12]:
df7

  fur_color  fur_color_count
0     Black               55

In [13]:
df7_1

        fur_color             breed_name
0   Black & White                Basenji
1        Blenheim    English Toy Spaniel
2      Blue & Tan      Yorkshire Terrier
3      Blue Merle    Australian Shepherd
4       Chocolate     Labrador Retriever
5       Harlequin             Great Dane
6           Lemon                 Beagle
7   Light Wheaten    Rhodesian Ridgeback
8        Mahogany       Belgian Malinois
9           Merle  Catahoula Leopard Dog
10         Orange             Pomeranian
11           Pink        Chinese Crested
12         Silver             Weimaraner
13       Stag Red     Miniature Pinscher
14         Yellow     Labrador Retriever

In [14]:
df8

          trait  trait_count
0     Energetic            6
1  Good-Natured            6
2   Intelligent            5
3       Playful            5
4  Affectionate            3

In [15]:
df9

          breed_name  color_count  trait_count
0             Poodle            4            4
1          Chihuahua            4            4
2       Basset Hound            4            6
3         Great Dane            4            4
4          Greyhound            4            6
5     English Setter            4            5
6           Papillon            4            4
7         Toy Poodle            4            4
8   Miniature Poodle            4            4
9    Standard Poodle            4            4
10            Beagle            4            4

In [16]:
df10

,trait_signature,problem_signature,breeds_with_same_profile,total_raÃ§as
0,"Energetic, Good-Natured, Intelligent, Playful","Dental Problems, Eye Problems, Skin allergies","Affenpinscher, Basenji, Border Collie, Cairn T...",32
1,"Energetic, Good-Natured, Intelligent, Loyal","Dental Problems, Eye Problems, Skin allergies","Africanis, Akita, American Bulldog, Anatolian ...",16
2,"Active, Affectionate, Hypoallergenic, Intelligent","Bladder Stones, Epilepsy, Hip Dysplasia","Miniature Poodle, Poodle, Standard Poodle, Toy...",4
3,"Energetic, Good-Natured, Intelligent, Playful","Dental Problems, Hip Dysplasia, Skin allergies","American Eskimo Dog, Border Terrier, Coton de ...",4
4,"Affectionate, Energetic, Good-Natured, Intelli...","Cancer, Dental Problems, Eye Problems, Hip Dys...","English Setter, Gordon Setter, Irish Setter",3
5,"Energetic, Good-Natured, Intelligent, Playful","Dental Problems, Diabetes, Pancreatitis","Miniature Schnauzer, Standard Schnauzer",2
6,"Energetic, Good-Natured, Intelligent, Playful","Dental Problems, Eye Problems, Hip Dysplasia, ...","Australian Terrier, West Highland White Terrier",2
7,"Gentle, Good-Natured, Intelligent, Loyal","Cancer, Heart Conditions, Hip Dysplasia","Great Dane, Newfoundland",2